* {
    list-style: none;
    box-sizing: border-box;
}

body {
    margin-top: 50px;
    height: 600px;
    background-color: rgb(209, 209, 209);
}

nav {
    height: 50px;
    
    -webkit-box-shadow: 3px 3px 5px 6px #ccc;  /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
    -moz-box-shadow:    3px 3px 5px 6px #ccc;  /* Firefox 3.5 - 3.6 */
    box-shadow:         3px 3px 5px 6px #ccc;  /* Opera 10.5, IE 9, Firefox 4+, Chrome 6+, iOS 5 */
}

nav ul {
    display: flex;
}

.index-btn {
    margin-left: 10px;
}

#submit-btn {
    position: relative;
    top: 10px;
}

.welcome-title {
    font-size: 64px;
    color: #007bff;
    position: relative;
    top: 20px;
    left: 100px;
}

.container-section {
    height: 300px;
    width: 300px;
    margin: auto;
    position: relative;
    top: 100px;
}

.form-container {
    display: flex;
    flex-direction: column;
    align-content: space-between;
    background-color: whitesmoke;
    border-radius: 25px;
    padding: 50px;
}  

.form-header {
    align-self: center;
    text-align: center;
    position: relative;
    bottom: 10px;
    
    
}

.btn-danger {
    margin-right: 40px;
  
  }

  .nav-logged {
    color: #007bff;
    font-size: 20px;
    font-weight: bold;
    position: relative;
    top: 4px;
}